@import '../../styles/variables/variables.less';
@import '../../styles/mixins/mixins.less';

@spiner-size: 50px;
@spiner-radius: @spiner-size / 2;
@dot-size: 8px;
@time: 0.15s;

.spiner {
  width: @spiner-size;
  height: @spiner-size;
  position: relative;
  margin: 16px auto;

  &Item {
    width: @dot-size;
    height: @dot-size;
    background-color: @success;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - @dot-size / 2);
    left: calc(50% - @dot-size / 2);
    animation: fadeit 1.8s linear infinite;
    opacity: 0;

    .generate-spiner-items(12);
  }
}

@keyframes fadeit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
